
.shop-header {

  border-bottom: 1px solid #e5e5e5;


}

.shop-header .logo {
  color: #8e1278;
  font-family: "Playfair Display", Georgia, serif;
  font-size: 2rem;
  padding-left: 1rem;
}
.shop-header a:hover.logo {
  text-decoration-color: #8635a0;
}

.shop-header .shopping-cart {
  align-self: center;
  font-size: 1.3rem;
  padding-right: 1rem;
  padding-top: 5%;
}

.shop-header .shopping-cart .cart-icon {
  font-size: 2.2rem;
  color: #8635a0;
  margin-right: 10px;
}

